[package]
authors = ["Sam Scott <me@samjs.co.uk>"]
edition = "2018"
categories = ["encoding", "web-programming"]
description = "Querystrings for Serde"
documentation = "https://docs.rs/serde_qs"
keywords = ["serde", "serialization", "querystring"]
license = "MIT/Apache-2.0"
name = "serde_qs"
repository = "https://github.com/samscott89/serde_qs"
readme = "README.md"
version = "0.7.2"

[badges]

[badges.travis-ci]
repository = "samscott89/serde_qs"

[dependencies]
actix-web = { version = "3.3", optional = true }
actix-web2 = { package = "actix-web", version = "2.0.0", optional = true }
data-encoding = "2.3.1"
futures = { version = "0.3.8", optional = true } 
percent-encoding = "2.1.0"
serde = "1.0.118"
thiserror = "1.0.22"

[dev-dependencies]
csv = "1.1.5"
rand = "0.7.3"
serde_derive = "1.0.118"
serde_urlencoded = "0.7.0"

[features]
default = []
actix = ["actix-web", "futures"]
actix2 = ["actix-web2", "futures"]

[package.metadata.docs.rs]
features = [ "actix" ]
