[package]
authors = ["Sam Scott <me@samjs.co.uk>"]
categories = ["encoding", "web-programming"]
description = "Querystrings for Serde"
documentation = "https://docs.rs/serde_qs"
keywords = ["serde", "serialization", "querystring"]
license = "MIT/Apache-2.0"
name = "serde_qs"
repository = "https://github.com/samscott89/serde_qs"
readme = "README.md"
version = "0.4.2"

[badges]

[badges.travis-ci]
repository = "samscott89/serde_qs"

[dependencies]
data-encoding = "2.1.2"
error-chain = "0.12.0"
dtoa = "0.4.3"
fnv = "1.0.6"
itoa = "0.4.3"
percent-encoding = "1.0.1"
serde = "1.0.85"
serde_derive = "1.0.85"

[dev-dependencies]
csv = "1.0.5"
rand = "0.6.4"
serde_urlencoded = "0.5.4"

[lib]
test = false

[profile]

[profile.release]
debug = true
lto = false
